.navbar-nav{
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*border: 1px solid var(--font-primary-color);*/


}
.nav-item{
    /*border: 1px solid var(--font-primary-color);*/
}
.nav_button {
   background-color: transparent;
    border: none;
    font-size: var(--font-size-nav);
    font-family: "Roc Grotesk", sans-serif;
    font-weight: lighter;
    transition: font-weight 0.3s;
}

.nav_button:hover {
    font-weight: bolder;
}

@media (max-width: 1100px){

    .navbar-nav{

    }

    .nav_button {
        font-size: var(--font-size-nav-secondary);
    }

}

